* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

#netflix {
  width: 200px;
  margin: 10px 0 0 20px;
}

#wallpaper {
  background-image: url("https://i.ibb.co/h7TJCpd/AU-en-20220111-popsignuptwoweeks-perspective-alpha-website-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

.back {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 750px;
  width: 100%;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -10px;
  width: 100%;
}

.sign-in {
  height: 40px;
  width: 100px;
  margin: 35px 40px 0 0;
  font-size: 17px;
  font-weight: bolder;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}

/* .texts {
  color: red;
  position: absolute;
  top: 400px;
} */

@media screen and (max-width: 400px) {
  .nav-item {
    flex-direction: column;
    align-items: center;
  }

  .home-image {
    width: 100%;
  }

  .sign-in {
    margin: auto;
  }

  #netflix {
    margin: 10px auto;
  }

  img {
    width: 100%;
  }
}

/* weather ui begins */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vcenter {
  display: flex;
  align-items: center;
}

.mainContainer {
  max-width: 350px;
  height: 630px;
  margin: 0 auto;
  box-shadow: 0 0 10px #2323;
  margin-top: 50px;
  background: white;
  padding: 20px;
  position: absolute;
  top: -50px;
}

#we-ui {
  display: flex;
  justify-content: center;
  opacity: 0;
  width: 100%;
}

.header {
  height: 70px;
  border-bottom: 2px solid #2323;
  width: 100%;
}

.header > h1 {
  margin-right: 20px;
  letter-spacing: 2px;
  color: #4b4b4b;
}

.header > h4 {
  color: #bdc3c7;
  letter-spacing: 2px;
}

.forecast {
  height: 300px;
}

.weather > img {
  height: 250px;
}
.info {
  width: 200px;
  height: 200px;
  padding: 20px;
  padding-left: 40px;
  color: #4b4b4b;
  flex-direction: column;
  align-items: flex-start;
}

#desc {
  font-style: italic;
  margin: 10px 0;
  border-bottom: 2px solid #2323;
  text-transform: capitalize;
}
.humidity {
  width: 50px;
  justify-content: space-between;
  padding-top: 8px;
}
.humidity > i {
  font-size: 18px;
}
.future {
  height: 100px;
  justify-content: space-around;
  position: relative;
  top: 55px;
}
.day {
  height: 80px;
  width: 60px;
  justify-content: space-between;
  flex-direction: column;
}
.day > h5 {
  letter-spacing: 2px;
  font-weight: bolder;
  color: #7f8c8d;
}
.temp {
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 1px;
  color: #4b4b4b;
}
.day > img {
  height: 30px;
}

.fa-tint {
  color: #b91515;
}

#weather-button {
  font-size: 30px;
  width: 100%;
  margin-top: -15px;
  border-radius: 2px;
}

.button-weather {
  display: flex;
  justify-content: flex-end;
  margin-top: 90px;
}
/* weather ui ends */

/* first section begins */
.section1 {
  height: 475px;
  display: flex;
  justify-content: space-between;
  border-top: 8px solid #222;
  border-bottom: 8px solid #222;
}

#video2 {
  max-width: 470px;
  margin-top: -400px;
  margin-right: 10px;
}

#video1 {
  max-width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

#real-image {
  max-width: 550px;
  position: relative;
  z-index: 1;
  margin-right: 80px;
}

.para1 {
  color: #fff;
  font-size: 50px;
  margin-left: 80px;
  margin-top: 80px;
  font-weight: bold;
  line-height: 55px;
}

.para2 {
  color: #fff;
  font-size: 25px;
  margin-left: 80px;
  line-height: 35px;
}

#para-first {
  width: 600px;
}

@media screen and (max-width: 950px) {
  .section1 {
    flex-direction: column;
    height: 600px;
    width: 100%;
  }

  #video1 {
    width: 100%;
    position: absolute;
  }

  #video2 {
    width: 100%;
    margin-top: 80px;
    margin-left: 10px;
    max-height: 300px;
    /* margin-right: 0; */
    /* margin: auto; */
  }

  #img1 {
    width: 100%;
    display: flex;
  }

  #real-image {
    width: 100%;
    margin: auto;
  }

  #image-r1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #para-first {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .para1,
  .para2 {
    margin: auto;
  }

  .para1 {
    font-size: 35px;
    margin: 0 30px;
  }

  .para2 {
    font-size: 20px;
    margin: 0 30px;
  }

  .back {
    width: 100%;
  }
}
/* first section ends */
